
 <div class="container" *ngIf="!showForm">
    <button type="button" class="btn btn-secondary" (click)=" showForm= !showForm" >NEW</button>
 </div>
 <div *ngIf="showForm" style="border: 10px black">
  <form [formGroup]="dataForm" (ngSubmit)="onSubmitData()">
  <div class="container form-container">
    <div class="row">
      <div class="col-lg-4">
         <label>Field1 </label>
         <input type="text" placeholder="Enter value of field1" formControlName="field1" required/>
      </div>
      <div class="col-lg-4">
        <label>Field1 </label>
        <input type="text" placeholder="Enter value of field2" formControlName="field2" required/>
      </div>
      <div class="col-lg-4">
        <label>Field1 </label>
        <input type="text" placeholder="Enter value of field3" formControlName="field3" required>
      </div>
  </div>
   <div class="container">
      <button type="submit" class="btn btn-default">SUBMIT DATA</button>
   </div>
    </div>
    </form>
 </div>
<div class="container">
      <table class="table">
      <thead>
        <tr>
          <th>field1</th>
          <th>field2</th>
          <th>field3</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tabledata of tableData let i = index;">
         
       
          <td><input type="text" id="f1"value={{tabledata.field1}} [disabled]="!enableUpdate[i]"  #f1></td>
          <td><input type="text" id="f2" value={{tabledata.field2}} [disabled]="!enableUpdate[i]" #f2></td>
          <td><input type="text" id="f3"value={{tabledata.field3}} [disabled]="!enableUpdate[i]"  #f3></td>
          
          <td> <button class="btn btn-primary" >View Details</button></td>
          <td *ngIf='!enableUpdate[i]'><button class="btn btn-warning"(click)="toggleenabledarr(i)" >Edit</button></td>
          <td *ngIf='enableUpdate[i]'><button class="btn btn-success"(click)="updatedata(i, this.f1.value, this.f2.value, this.f3.value)" >Save</button></td>
          <td><button class="btn btn-danger" (click)='ondeletedata(i)'>Delete</button></td>
      
        </tr>
      </tbody>
    </table>
  </div>